# Database

DATABASE_URL=pooled_database_url
DATABASE_URL_DIRECT=normal_database_url
# Better-auth

BETTER_AUTH_SECRET=auth_secret
BETTER_AUTH_URL=host_url


# Google OAuth

CLEINT_ID=oauth_client_id
CLEINT_SECRET=oauth_secret